@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Russo One';
  src: url('/fonts/RussoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom CSS */
@layer components {
  .masthead {
    background-color: #9CA3AF;
    .mastbackground {
      background-image: url('/images/battery-zoomed.png');
      
    }
    .logo {
      .ston {
        color: #F3F4F6;
      }
    }
  }
  .contact {
    background-color: #9CA3AF;
  }

  .product {
    background-color: #a8a29e;
  }
}
